@import '~reset-css/reset.css';

$main_color: rgb(118, 201, 247);
$lang_setting_color: rgb(155, 47, 47);
$mobile_breakpoint: 600px;
$message_input_height: 5em;

@import './styles/GlobalStyles.scss';
@import './styles/MainStyles.scss';
@import './styles/MessageInputStyles.scss';
@import './styles/MessageStyles.scss';
@import './styles/UserStyles.scss';
