.user-list-wrapper {
  position: relative;
  height: 100%;
  background-color: $main_color;

  > div {
    background-color: darken($main_color, 10%);
    height: 32px;
  }

  > div > h3 {    
    color: white;
    padding: 0.5em 1em 0.5em;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
  }
}

.user-list {
  white-space: nowrap;
}

.user {
  display: block;
  padding: 1em 1em 1em 1em;
  border-bottom: 1px solid darken($main_color, 5%);

  @media screen and (max-width: $mobile_breakpoint) {
    display: inline-block;
    padding: 0.5em 1em 1em 1em;
    border-bottom: unset;
  }
}

.user.user-me {
  background-color: lighten($main_color, 5%);
}

.user:hover, .user.user-me:hover {
  background-color: darken($main_color, 5%);
}

.user-profile-picture {
  float: left;
  width: 2em; height: 2em;
  background-color: lighten($main_color, 50%);
  border: 1px solid darken($main_color, 10%); border-radius: 50%;

  > img {
    width: 100%; height: 100%;
  }
}

.username {
  font-size: 16px;
  color: lighten($main_color, 50%);
  margin-left: 2em;
  padding: 0.2em 0em 0.2em 0.5em;
}

.user-typing {
  font-size: 10px;
  color: lighten($main_color, 50%);
  margin-left: 3.5em;
  padding-left: 0.65em;  
}

.pulsate {
  animation: pulsate 1000ms;
  animation-iteration-count: infinite;
  opacity: 1.0;
}

.dropbtn {
  background-color: $lang_setting_color;
  color: white;
  height: 32px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 0em;
  right: 0em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 8em;
  box-shadow: 0em 0.5em 2em 0em rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 0.6em 1em;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: darken($color: $lang_setting_color, $amount: 15%);
}

@keyframes pulsate {
  0% { opacity: 0.3; }
  50% { opacity: 1.0; }
  100% { opacity: 0.3; }
}
